<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>js-numerals</title>

  <!-- Custom styles for this template -->
</head>

<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Miguel Angel Ríos Arias</h3>
      </div>
    </header>

    <main role="main" class="inner cover">
      <h1 class="cover-heading">js-numerals</h1>
      <p class="lead">Create an application that contains a web form, which has a numeric input field and a submit
        button.</p>
      <p class="lead">When the user gives an arabic number, the system shows the english phrase of that number.</p>
    </main>


    <form class="form-signin">

      <h1 class="h3 mb-3 font-weight-normal">Input a number</h1>
      <label for="inputNumber" class="sr-only">Number</label>
      <input type="number" id="inputNumber" class="form-control" placeholder="Number" required autofocus>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Transform</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>

    </form>



    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Assessment for <a href="https://getbootstrap.com/">Digital Natives</a>, by <a
            href="https://youtu.be/MAUxfVJjJdg">Miguel Ríos</a>.</p>
      </div>
    </footer>
  </div>
</body>

</html>